# Objectives
- Understand when to use each type of graph (line charts, bar charts and heatmaps)
- Use Seaborn to plot line charts, bar charts and heatmaps

***
# Line Charts, Bar Charts and Heatmaps
- Line Chart: to show a trend over time
- Bar Chart: to express length (or height), especially iun comparison to other items
- Heatmap: to rapidly identify high or low points, trends, or interactions based on color

## Import Relevant Libraries and Read Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://bit.ly/3cngqgL"
df = pd.read_csv(url, 
                 parse_dates=['date_utc'], 
                 dtype={'hour_utc':int,'minute_utc':int,'id':str}
                )

In [3]:
df.head()

,id,username,date_utc,hour_utc,minute_utc,retweets
0,815422340540547073,realDonaldTrump,2017-01-01 05:00:10+00:00,5,0,27134
1,815930688889352192,realDonaldTrump,2017-01-02 14:40:10+00:00,14,40,23930
2,815973752785793024,realDonaldTrump,2017-01-02 17:31:17+00:00,17,31,14119
3,815989154555297792,realDonaldTrump,2017-01-02 18:32:29+00:00,18,32,3193
4,815990335318982656,realDonaldTrump,2017-01-02 18:37:10+00:00,18,37,7337

## Line Plot
Let's examine the number of retweets for each candidate over time. On the x-axis will be `date_utc`, the y-axis will contain `retweets` and the `hue` will be `username`.

## Bar Plot
I want to find the total number of tweets for both usernames. First I am going to group all of the tweets together by username (we will learn how to do this later) using the `groupby` method. Then I will reset the index to bring the `username` back from the index and into a column.

Now, I want you to create the bar plot using `username` on the x-axis and `retweets` on the y-axis.

## Heatmap Data Manipulation
I am going to prepare the data for our heat maps. Right now we have a bunch of tweets that happened all throughout the day and I want to group those tweets together by the hour and minute they were sent, along with who they were sent from.

Then, I will find the number of unique tweets for each username during each hour-minute combination.

Now, I am going to reshape our data (you will learn how to do this on lesson 26!!) to have the columns contain the minutes and the rows contain the hours.

It looks like we have some null values so I am going to replace those null values with 0. I am also going to make sure that all minutes and hours are included.

In [1]:

# Ensure all hours in table

# Ensure all minutes in table

Let's repeat all of that for Donald Trump.

## Heatmaps
It's your turn to plot the heatmaps and interpret the results!!