# Objectives
- Summarize the key data types commonly used with pandas
- Use pandas to remove or replace missing values
- Use pandas to rename, concatenate, join, and merge DataFrames

# 1. Import Relevant Libraries and Read Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
# Read 'Data/nba.csv' and print the first 5 lines

In [2]:
# Print info

# 2. Handling Missing Values
What if we decided to drop **all** the null values using `dropna()`?

Instead of immediately dropping all rows that contain null values, lets inspect those rows and see if we can keep the data!

It looks like we have 94 players that contain missing data!! Also, it looks like the very last row contains all null values. Let's `drop` that row!

Now, let's look at the `info` of our columns again to see which columns contain null values.

It looks like both `College` and `Salary` columns contain null values. Let's inspect the `College` column with null values first.

It looks like these guys did not go to college and pursued their careers in professional basketball right out of high school. Instead of deleting them from our data, let's fill their `NaN` college value to `'No College'` by using the `fillna()` method.

Using `nba.info()` we can see that we no longer have any null values in the `College` column. Lets address the `Salary` column.

It seems like all of these players didnt play for those teams for very long and, therefore, probably did not receive a salary. In order to not skew our data by placing zeros for these null values, let's drop these rows using `.dropna()`.

Let's plot each position's average salary.

What is this showing us?? If we look at the barplot documentation we see that by default, we will plot the mean. How can we confirm this is true?